PORT=3001
IDEMPIERE_BASE_URL=http://141.72.176.110:8080/api/v1
IDEMPIERE_USER=GardenAdmin
IDEMPIERE_PASSWORD=GardenAdmin
IDEMPIERE_CLIENT_ID=11
IDEMPIERE_ROLE_ID=102
IDEMPIERE_ORG_ID=11
IDEMPIERE_WAREHOUSE_ID=1000000
IDEMPIERE_LANGUAGE=en_US
IDEMPIERE_PRODUCT_CATEGORY_ID=1000000
IDEMPIERE_PRICE_LIST_VERSION_ID=104
IDEMPIERE_ORDER_BPARTNER_ID=119
IDEMPIERE_ORDER_BPARTNER_LOCATION_ID=116
IDEMPIERE_ORDER_ORG_ID=11
IDEMPIERE_ORDER_DOCTYPE_ID=133
IDEMPIERE_ORDER_USER_ID=102
IDEMPIERE_ORDER_SALESREP_ID=101
IDEMPIERE_ORDER_BILL_BPARTNER_ID=119
IDEMPIERE_ORDER_BILL_LOCATION_ID=116
IDEMPIERE_ORDER_BILL_USER_ID=102
IDEMPIERE_ORDER_PAYMENT_TERM_ID=105
IDEMPIERE_ORDER_PRICE_LIST_ID=101
IDEMPIERE_ORDER_SHIPPER_ID=100
IDEMPIERE_ORDER_PAYMENT_RULE=P
IDEMPIERE_ORDER_DELIVERY_RULE=S
IDEMPIERE_ORDER_POREFERENCE=easwebtestfixed
